.App-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    'nav'
    'main'
    'foot';
  grid-template-rows: 95px minmax(400px, 1fr) 95px;
  grid-template-columns: 1fr;

  & nav {
    grid-area: nav;
    // background-color: #ffa08c;
  }

  & main {
    grid-area: main;
    background-color: #ffff64;
  }

  & footer {
    grid-area: foot;
    background-color: #8cffa0;
  }
}
