main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  & .carousel {
    width: 100%;
    height: 100%;
    & .flickity-viewport {
      height: 100% !important;
      & .flickity-slider {
        transform: translateX(20.72%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
