@use "styles/mixins" as *;

.Flickity-container {
  @include flex;
  @include box-dim(100%, 500px);
  @include position(absolute, $top: 33%);
  .inner-carousel {
    @include box-dim;
    z-index: 3;
    & .flickity-viewport {
      // height: 100% !important;
      & .flickity-slider {
        transform: translateX(20.72%);
        @include flex;
      }
    }
  }
}

.Card-container {
  padding-right: 28px;
  @include box-dim(300px, 428px);

  .Card {
    @include box-dim;
    position: relative;
    .Card-content {
      pointer-events: auto;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      @include box-dim;
      background-color: white;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
    }

    & .Card-image {
      @include box-dim(100%, 304px);
      overflow: hidden;
      position: relative;
      img {
        transform: scale(1.2);
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;

        /* fade in lazy loaded image */
        &.flickity-lazyloaded,
        &.flickity-lazyerror {
          opacity: 1;
        }
      }
    }
  }
}
