.App {
  // text-align: left;

  // h2 {
  //   color: #ff40b6;
  //   text-transform: capitalize;
  //   font-weight: 400;
  //   font-size: 12px;
  // }
}
.Layout {
  // width: 100%;
  max-width: 450px;
  height: 90vh;
  // border: 2px solid rgba(198, 54, 218, 0.877);
  // margin: 5vh auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.Content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  flex: 1 0 auto;
}

.Header,
.Content,
.Footer {
  padding: 15px;
}

.Header {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.Header,
.Footer {
  background-color: rgb(255, 255, 255);
}
.Products {
  padding-left: 20px;
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 40px;
}

.Products li {
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin-bottom: 100px;
  // width: 60px;
  // height: 60px;
  // background-color: peachpuff;
  // margin-right: 20px;
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      'header '
      'content'
      'footer';
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas:
      'header  header  header'
      'sidebar content sidebar2'
      'footer  footer  footer';
    max-width: 600px;
  }
}

.box {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: rgb(255, 255, 255);
}
.card {
  width: fit-content;
  display: grid;
  margin-left: 50px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: 'image' 'text';
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}
.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}

.card-image {
  g.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }
  grid-area: image;
  background: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  color: rgb(255, 7, 110);
  font-size: medium;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
