@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500&display=swap');
.App {
  text-align: left;
  font-family: 'Oxanium', cursive;
  h2 {
    color: #ff40b6;
    text-transform: capitalize;
    font-weight: 400;
  }
}

.App-header {
}
