body {
  font-size: 1em;
  font-family: "Press Start 2P", Helvetica, Arial, sans-serif;
  margin: auto;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  min-height: 100vh;
  min-width: 98vw;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "header header" "stats main" "score main";
  grid-template-rows: 50px minmax(300px, 1fr) 1fr;
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

h2 span {
  font-size: 1em;
  display: block;
  color: slateblue;
  margin-top: 1em;
}

.item {
  padding-left: 20px;
  /* padding: 0px 3px 0px opx; */
  background: #ffffff;
}

.header {
  grid-area: header;
  background: #673ab7;
  padding: 0 20px;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.stats {
  grid-area: stats;
  background: white;
}

.main {
  background: rgb(255, 255, 255);
  grid-area: main;
  cursor: pointer;
  margin-bottom: 1em;
}

.score,
.header {
  display: flex;
  justify-content: flex-start;
  color: white;
}
.score h2 p {
  color: #564f68;
  font-size: 0.7em;
  margin-left: 1em;
}

@media screen and (max-width: 800px) {
  body {
    font-size: xx-small;
  }

  main {
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
  }

  h2 span {
    display: inline;
  }
  h2 p {
    color: tomato;
    font-size: smaller;
  }

  .main,
  .stats {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
  }

  .score {
    grid-column: 2 / span 1;
    grid-row: 1;
    padding: 0 20px;
    font-size: 0.5em;
  }

  .stats {
    opacity: 0;
    pointer-events: none;
    z-index: 5;
  }

  .check:checked ~ main > .stats {
    opacity: 1;
    pointer-events: auto;
  }
}
